---
import Layout from '../layouts/Layout.astro'
import Container from '@/components/Container.astro'
import SuitcaseIcon from '@/assets/Suitcase.astro'
import CodeIcon from '@/assets/Code.astro'
import BracesIcon from '@/assets/Braces.astro'
import Presentation from '@/components/Presentation.astro'
import Experience from '@/components/Experience.astro'
import Projects from '@/components/Projects.astro'
import Stack from '@/components/Stack.astro'

---

<Layout
  title="Omancilla | Portafolio"
  description="Hola, soy Omar Mancilla, un desarrollador web y estudiante de ingeniería en desarrollo de software de México. Me especializo en crear soluciones digitales innovadoras."
>
  <main class="px-4 mx-auto w-full max-w-[900px]">
    <Container id="inicio" classname="min-h-[100svh] flex flex-col justify-center items-center">
      <Presentation />
    </Container>

    <Container id="experience" title="Experiencia" icon={SuitcaseIcon}>
      <Experience />
    </Container>

    <Container id="projects" title="Proyectos" icon={CodeIcon}>
      <Projects />
    </Container>

    <Container id="stack" title="Stack Tecnológico" icon={BracesIcon}>
      <Stack />
    </Container>
  </main>
</Layout>
