---
const { classname, id, title, icon: Icon } = Astro.props;
---

<section class={`${classname} py-18`} id={id}>
  <h2 class="text-3xl font-semibold mb-8 flex items-center gap-3">
    {Icon && <Icon class="size-8" />}
    {title}
  </h2>
  <slot />
</section>
