---
const { classname, id, title, icon: Icon, spacing = 'py-18 md:py-24' } = Astro.props;
---

<section class={`${classname} ${spacing}`} id={id}>
  {
    (title || Icon) && (
      <h2 class="text-3xl font-semibold mb-8 flex items-center gap-3 text-slate-950 dark:text-white">
        {Icon && <Icon class="size-8" />}
        {title}
      </h2>
    )
  }
  <slot />
</section>
