<header class="fixed top-4 left-1/2 -translate-x-1/2 z-50 w-auto">
  <nav
    class="flex flex-row gap-3 md:gap-6 px-4 md:px-6 py-1.5 rounded-full
    bg-white/10 backdrop-blur-md border border-white/20 shadow-lg
    text-[14px] text-white/90 hover:text-white"
  >
    <a href="#inicio" class="transition-colors duration-200 font-medium whitespace-nowrap"> Inicio </a>
    <a href="#experience" class="transition-colors duration-200 font-medium whitespace-nowrap"> Experiencia </a>
    <a href="#projects" class="transition-colors duration-200 font-medium whitespace-nowrap"> Proyectos </a>
    <a href="#stack" class="transition-colors duration-200 font-medium whitespace-nowrap"> Tecnologías </a>
    <!-- <a href="#about" class="transition-colors duration-200 font-medium whitespace-nowrap"> Sobre mi </a> -->
  </nav>
</header>
