---
const { href, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`rounded-full border border-slate-300/85 flex justify-center items-center gap-x-2 py-2 px-4 text-sm md:text-base
  bg-slate-100/80 text-slate-700 shadow-sm hover:scale-105 hover:bg-slate-200/80 hover:text-slate-950 transition w-fit
  dark:border-white/10 dark:bg-white/5 dark:text-white dark:hover:bg-white/10 ${className}`}
>
  <slot />
</a>
