---
const { href, class: className } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class={`rounded-full border border-white/10 flex justify-center items-center gap-x-2 py-2 px-4 text-sm md:text-base
  bg-white/22 text-slate-800 shadow-[0_10px_30px_rgba(15,23,42,0.08)] hover:scale-105 hover:bg-white/30 transition w-fit dark:bg-white/[0.045] dark:text-white dark:hover:bg-white/[0.09] ${className}`}
>
  <slot />
</a>
