---
const { title } = Astro.props;

interface Props {
  title: string;
}
---

<article class="w-full text-center border border-sky-700 rounded-xl py-6 px-3">
  <h3 class="text-2xl font-semibold mb-10">{title}</h3>
  <div class="grid grid-cols-3 gap-y-8 gap-x-4">
    <slot />
  </div>
</article>
