---
import NodeIcon from "@/assets/NodeJS.astro";
import NextIcon from "@/assets/NextJS.astro";
import TailwindIcon from "@/assets/Tailwind.astro";
import ExpressIcon from "@/assets/Express.astro";
import LaravelIcon from "@/assets/Laravel.astro";
import JavaIcon from "@/assets/Java.astro";
import PHPIcon from "@/assets/Php.astro";
import JavaScriptIcon from "@/assets/JavaScript.astro";
import PythonIcon from "@/assets/Python.astro";
import HTMLIcon from "@/assets/Html5.astro";
import CSSIcon from "@/assets/CSS.astro";
import ReactIcon from "@/assets/React.astro";
import AstroIcon from "@/assets/Astro.astro";
import MySQLIcon from "@/assets/MySQL.astro";
import PostgreSQLIcon from "@/assets/Postgres.astro";
import MongoDBIcon from "@/assets/Mongo.astro";
import SQLiteIcon from "@/assets/SQLite.astro";
import FirebaseIcon from "@/assets/Firebase.astro";
import SupabaseIcon from "@/assets/Supabase.astro";
import GitIcon from "@/assets/Git.astro";
import GitHubIcon from "@/assets/GitHub.astro";
import EslintIcon from "@/assets/Eslint.astro";
import PostmanIcon from "@/assets/Postman.astro";
import NpmIcon from "@/assets/Npm.astro";
import VercelIcon from "@/assets/Vercel.astro";
import CodeIcon from "@/assets/Code.astro";
import StackCard from "./StackCard.astro";

const backend = [
  {
    name: "Node.js",
    icon: NodeIcon,
  },
  {
    name: "Express.js",
    icon: ExpressIcon,
  },
  {
    name: "Laravel",
    icon: LaravelIcon,
  },
  {
    name: "PHP",
    icon: PHPIcon,
  },
  {
    name: "Java",
    icon: JavaIcon,
  },
  {
    name: "Python",
    icon: PythonIcon,
  },
];

const frontend = [
  {
    name: "HTML5",
    icon: HTMLIcon,
  },
  {
    name: "CSS3",
    icon: CSSIcon,
  },
  {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Next.js",
    icon: NextIcon,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "Tailwind CSS",
    icon: TailwindIcon,
  },
];

const database = [
  {
    name: "MySQL",
    icon: MySQLIcon,
  },
  {
    name: "PostgreSQL",
    icon: PostgreSQLIcon,
  },
  {
    name: "MongoDB",
    icon: MongoDBIcon,
  },
  {
    name: "SQLite",
    icon: SQLiteIcon,
  },
  {
    name: "Firebase",
    icon: FirebaseIcon,
  },
  {
    name: "Supabase",
    icon: SupabaseIcon,
  },
];

const tools = [
  {
    name: "Git",
    icon: GitIcon,
  },
  {
    name: "GitHub",
    icon: GitHubIcon,
  },
  {
    name: "npm",
    icon: NpmIcon,
  },
  {
    name: "Eslint",
    icon: EslintIcon,
  },
  {
    name: "Postman",
    icon: PostmanIcon,
  },
  {
    name: "Vercel",
    icon: VercelIcon,
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <StackCard title="Backend">
    {
      backend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center hover:scale-105 transition-transform">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
  <StackCard title="Frontend">
    {
      frontend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center hover:scale-105 transition-transform">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
  <StackCard title="Database">
    {
      database.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center hover:scale-105 transition-transform">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
  <StackCard title="Tools">
    {
      tools.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center hover:scale-105 transition-transform">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
</div>
