---
import NodeIcon from '@/assets/NodeJS.astro'
import NextIcon from '@/assets/NextJS.astro'
import TailwindIcon from '@/assets/Tailwind.astro'
import ExpressIcon from '@/assets/Express.astro'
import LaravelIcon from '@/assets/Laravel.astro'
import JavaIcon from '@/assets/Java.astro'
import JavaScriptIcon from '@/assets/JavaScript.astro'
import PythonIcon from '@/assets/Python.astro'
import CodeIcon from '@/assets/Code.astro'

const backend = [
  {
    name: 'Node.js',
    icon: NodeIcon
  },
  {
    name: 'Express.js',
    icon: ExpressIcon
  },
  {
    name: 'Laravel',
    icon: LaravelIcon
  },
  {
    name: 'JavaScript',
    icon: JavaScriptIcon
  },
  {
    name: 'Java',
    icon: JavaIcon
  },
  {
    name: 'Python',
    icon: PythonIcon
  }
]

const frontend = [
  {
    name: 'React',
    icon: CodeIcon
  },
  {
    name: 'Vue.js',
    icon: CodeIcon
  },
  {
    name: 'Angular',
    icon: CodeIcon
  },
  {
    name: 'Svelte',
    icon: CodeIcon
  },
  {
    name: 'Astro',
    icon: CodeIcon
  },
  {
    name: 'Next.js',
    icon: NextIcon
  },
  {
    name: 'Tailwind CSS',
    icon: TailwindIcon
  }
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <article class="w-full text-center border border-sky-700 rounded-xl py-6 px-3">
    <h3 class="text-2xl font-semibold mb-6">Backend</h3>
    <div class="grid grid-cols-3 gap-y-10 gap-x-4">
      {backend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))}
    </div>
  </article>

  <article class="w-full text-center border border-sky-700 rounded-xl py-6 px-3">
    <h3 class="text-2xl font-semibold mb-6">Frontend</h3>
    <div class="grid grid-cols-3 gap-y-10 gap-x-4">
      {frontend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))}
    </div>
  </article>
</div>
