---
import NodeIcon from "@/assets/NodeJS.astro";
import NextIcon from "@/assets/NextJS.astro";
import TailwindIcon from "@/assets/Tailwind.astro";
import ExpressIcon from "@/assets/Express.astro";
import LaravelIcon from "@/assets/Laravel.astro";
import JavaIcon from "@/assets/Java.astro";
import PHPIcon from "@/assets/Php.astro";
import JavaScriptIcon from "@/assets/JavaScript.astro";
import PythonIcon from "@/assets/Python.astro";
import HTMLIcon from "@/assets/Html5.astro";
import CSSIcon from "@/assets/CSS.astro";
import ReactIcon from "@/assets/React.astro";
import AstroIcon from "@/assets/Astro.astro";
import CodeIcon from "@/assets/Code.astro";
import StackCard from "./StackCard.astro";

const backend = [
  {
    name: "Node.js",
    icon: NodeIcon,
  },
  {
    name: "Express.js",
    icon: ExpressIcon,
  },
  {
    name: "Laravel",
    icon: LaravelIcon,
  },
  {
    name: "PHP",
    icon: PHPIcon,
  },
  {
    name: "Java",
    icon: JavaIcon,
  },
  {
    name: "Python",
    icon: PythonIcon,
  },
];

const frontend = [
  {
    name: "HTML5",
    icon: HTMLIcon,
  },
  {
    name: "CSS3",
    icon: CSSIcon,
  },
  {
    name: "JavaScript",
    icon: JavaScriptIcon,
  },
  {
    name: "React",
    icon: ReactIcon,
  },
  {
    name: "Next.js",
    icon: NextIcon,
  },
  {
    name: "Astro",
    icon: AstroIcon,
  },
  {
    name: "Tailwind CSS",
    icon: TailwindIcon,
  },
];
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
  <StackCard title="Backend">
    {
      backend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
  <StackCard title="Frontend">
    {
      frontend.map(({ name, icon: Icon }) => (
        <div class="flex flex-col items-center gap-3 text-center justify-center">
          <Icon class="size-10" />
          <span class="text-sm">{name}</span>
        </div>
      ))
    }
  </StackCard>
</div>
